.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 150px;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 30px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  background-color: #02153a;
  box-shadow: 0 20px 30px -6px rgba(136, 136, 136, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
}

button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

button:active {
  background-color: #054cd9;
}